$dark: #100a30;
$secondary-text: #4c4764;
$primary: #624de3;
$white: #fff;

$amber: (
    "light": #fff5e1,
    "main": #fddc9a,
    "dark": #fcb935,
);

$green: (
    "light": #e8faf3,
    "main": #8ce3c3,
    "dark": #19c787,
);

$lavender: #e8e5fb;
$pink: #fdebee;
$blue: #e6f3ff;

$breakpoints: (
    "xs": 576px,
    "sm": 768px,
    "md": 992px,
    "lg": 1296px,
);
